@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Monserrat', sans-serif;
}

html, body {
    height: 100%;
    /*width: 100%;*/
    color: #222;
}

body {
    background: #f9f9f9;
    overflow-x: hidden;
    /*min-width: 1028px;*/
}

.myheader {
    padding-top: 60px;
}

.header-text {
    position: absolute;
    top: 200px;
    left: 150px;
    color: #f9f9f9;
    font-size: 4vw;
    text-shadow: 1px 1px 10px #000;
}

.background-dark {
    z-index: 20;
    position: fixed;
    padding: 10px;
    left: 0;
    height: 100%;
    top: 8vh;
    background-color: #0f0f0f;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: opacity 0.75s ease-in;
}

.nav2 {
    z-index: 30;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f1f1f1;
}

.samlogo {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    left: 20%;
}

.phone-logo {
    display: none;
}

.nav2-links {
    position: absolute;
    padding: 10px;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transition: transform 0.75s ease-in;
}

.nav2-links li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    cursor: pointer
}

.nav2-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.burgericon {
    cursor: pointer;
    position: absolute;
    right: 19%;
}

.burgericon div {
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 5px;
    display: block;
}

.navbar:hover {
    cursor: pointer;
}

.navbar {
    padding-bottom: 0.8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    padding-top: 2rem;
}

.welcome hr {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    text-align: right;
}

img {
    width: 100%;
    height: 100%;
}

.proj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    height: 100%;
}

.proj h3 {
    margin-bottom: 2rem;
}

.proj img {
    height: 400px;
}

.proj > div {
    padding: 2rem;
}

.proj:nth-child(even) img {
    order: 2;
}

.link-button {
    color: #0d0d0d;
    border: 2px solid #4BB1C5;
    padding: 10px 20px;
    margin: 80px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.5s;
}

.link-button:hover {
    background: #4BB1C5;
    transform: scale(1.25);
}

.expertise {
    padding-top: 100px;
}

.languages {
    padding: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contactme {
    padding-top: 140px;
    padding-bottom: 50px;
    text-align: center;

}

.profilepic {
    height: 267px;
    width: 225px;
}

.mojFooter{
    background-color: #f8f8f8;
    color: #0f0f0f;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 0;
}

.bottom-footer{
    border-top: 1px solid #0f0f0f;
    margin-top: 0;
    padding-top: 7px;
    color: #0f0f0f;

}

.footer-nav li{
    display: inline-flex;
    padding: 0 40px;
    color: grey;
}

@media(max-width:700px) {
    .proj {
        display: block;
    }

    .proj img {
        height: 100%;
    }

    .samlogo {
        display: none
    }

    .phone-logo {
        display: grid;
        position: absolute;
        left: 16.5%;
    }

    .burgericon {
        cursor: pointer;
        position: absolute;
        right: 16.5%;
    }

    .header-text {
        position: absolute;
        top: 100px;
        left: 50px;
        color: #f9f9f9;
        font-size: 4vw;
        text-shadow: 1px 1px 10px #000;
    }

    .nav2 {
        z-index: 30;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background-color: #f1f1f1;
    }
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

@media (max-width: 480px)  {

}

@keyframes nav2LinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/*--- Fixed Background Image --*/
/*figure {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 60%;*/
/*    margin: 0!important;*/
/*}*/
/*.fixed-wrap {*/
/*    clip: rect(0, auto, auto, 0);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*#fixed {*/
/*    background-image: url('media/header.gif');*/
/*    position: fixed;*/
/*    display: block;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*    -webkit-transform: translateZ(0);*/
/*    transform: translateZ(0);*/
/*    will-change: transform;*/
/*}*/
/*--- Bootstrap Padding Fix --*/
/*[class*="col-"] {*/
/*    padding: 1rem;*/
/*}*/


